<app-main-layout>
  <app-header>
    <header-body>
      <app-task-selection></app-task-selection>
      <app-main-task-tabs></app-main-task-tabs>
    </header-body>
  </app-header>
  <app-filters-panel>
    <app-authors-filter></app-authors-filter>
    <!--    <app-submits-filter></app-submits-filter>-->
    <!--    <app-metric-service-in-submits></app-metric-service-in-submits>-->
    <!--    <app-comments-in-submits></app-comments-in-submits>-->
    <app-table-col-switcher></app-table-col-switcher>
    <app-search></app-search>
  </app-filters-panel>

  <app-main>
    <app-submits></app-submits>
  </app-main>
</app-main-layout>
