.table-feature-minig-comments-link {
  color: var(--text-color-default);

  &:hover {
    &:before {
      background: var(--table-background-quaternary);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 0.3s ease;
  }
}

.table-feature-minig-comments-text {
  position: relative;
  font-size: 1.3rem;
  max-width: 180px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  z-index: 1;
}
