.header {
  background: var(--foreground-default);
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 101;
}

.header-task-selection {
  position: absolute;
  top: 12px;
  left: 64px;
  z-index: 2;
}
