.authors-filter {
  margin-right: 36px;
}
.author-filter-btn-ico {
  display: inline-block;
  margin-right: 7px;
  width: 10px;
  height: 10px;
}
.authors-filter-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-right: 16px;
  color: var(--text-color-default);
  font-size: 1.3rem;
  line-height: (20 / 13);
  text-decoration: none;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.9px 3.645px 0 3.645px;
    border-color: var(--text-color-default) transparent transparent transparent;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;

    .authors-filter-active & {
      transform: rotate(-180deg);
    }
  }
}

.authors-filter-sub {
  width: 200px;

  background: var(--background-secondary);
  padding: 11px 8px;

  border-radius: 3px;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  transform: translate(0, 4px);
}

.select-list {
  display: flex;
  flex-direction: column;
  margin: 0 -8px 0 0;
  padding: 0 8px 0 0;

  list-style: none;
  max-height: 450px;
  overflow-y: auto;
}

.select-item {
  margin: 0 0 16px;
  padding: 0;
  font-size: 1.2rem;
  line-height: (14 / 12);

  &:last-child {
    margin: 0;
  }
}

.authors-filter-heading {
  border-bottom: 1px solid #494c50;
  padding-bottom: 9px;
  margin-bottom: 9px;
}

.select-item--active {
  color: var(--accent-text-color-default);
  font-weight: 700;
}

.select-label-checkbox {
  margin-right: 8px;
}

.select-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
}

.author-filter-btn-text {
  display: block;
  white-space: nowrap;
  max-width: 145px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}
