<div class="authors-filter" (clickOutside)="handleClickedOutside($event)">
  <a class="authors-filter-btn" (click)="handleClick()">
    <span class="author-filter-btn-ico"><app-icon [type]="'man'"></app-icon></span>
    <span class="author-filter-btn-text">Authors filter</span>
  </a>
  <div class="authors-filter-sub" *ngIf="isShow">
    <div class="authors-filter-heading">
      <label class="select-label">
        <app-checkbox class="select-label-checkbox"></app-checkbox>
        <span class="select-label-title">All</span>
      </label>
    </div>
    <ul class="select-list">

      <li class="select-item" *ngFor="let author of authors">
        <label class="select-label">
          <app-checkbox class="select-label-checkbox"></app-checkbox>
          <span class="select-label-title">{{author}}</span>
        </label>
      </li>

    </ul>
  </div>
</div>
