.authors-filter {
  position: absolute;
  top: 10px;
  left: 24px;
}
.author-filter-btn-ico {
  display: inline-block;
  margin-right: 7px;
  width: 10px;
  height: 10px;
}
.authors-filter-btn {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  color: var(--text-color-default);
  font-size: 1.3rem;
  line-height: (20 / 13);
  text-decoration: none;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3.9px 3.645px 0 3.645px;
    border-color: var(--text-color-default) transparent transparent transparent;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.select-list {
  background: var(--background-tertiary);
  border-radius: 3px;
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: 2px 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  list-style: none;
  transform: translate(0, 4px);
}

.select-item {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-align: right;
  white-space: nowrap;
  line-height: (14 / 12);
}
.select-item--active {
  color: var(--accent-text-color-default);
  font-weight: 700;
}


.select-link {
  display: block;
  padding: 8px;
  color: inherit;
}
