<div class="select" (clickOutside)="onClickedOutside($event)" [class]="{'select--active': isShow}" *ngIf="tasks.length">
  <div class="select-value"  (click)="handleClick()">
    <div class="select-value-text">{{ tasks[selectedIndex] }}</div>
    <div class="select-ico">
      <app-icon type="triangle"></app-icon>
    </div>
  </div>
  <div class="select-sub">
    <div class="select-heading">Ammiak project</div>
    <ul class="select-list">
      <li class="select-item" [class]="{'select-item--active': selectedIndex === i}" *ngFor="let task of tasks; let i = index;">
        <a class="select-link" (click)="handleItemClick(i)">{{ task }}</a>
      </li>
    </ul>
  </div>
</div>
