
.loader {
  width: 16px;
  height: 16px;
}

.loader-ico {

  width: 16px;
  height: 16px;
  animation: LoaderAnimation 1s infinite linear;
  transform: rotate(0deg);
  will-change: transform;

}

@keyframes LoaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
