.icon {
  background: no-repeat 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
/*

.man {
  background-image: url("../../../assets/images/dark/man.svg");
}

.search {
  background-image: url("../../../assets/images/dark/search.svg");
}

.status-active {
  background-image: url("../../../assets/images/dark/active.svg");
}
*/
