.langs-switcher {
  border: 1px solid var(--header-button-background-tertiary);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 4px;
  left: 24px;
}

.langs-switcher-item {
  width: 37px;
  color: var(--button-color-default);
  font-size: 1.2rem;
  line-height: (30 / 12);
  text-align: center;

  &:first-letter {
    text-transform: uppercase;
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}

.langs-switcher-item--active {
  background: var(--header-button-background-tertiary);
  color: var(--button-color-tertiary);
}
