.add-to-comparison {
  border-radius: 1px;
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  color: inherit;
  transition: all 0.3s ease;
}

.add-to-comparison--in-comparison {
  color: var(--accent-text-color-sixfold);
  background: var(--accent-text-color-positive);
}

.add-to-comparison-ico {
  width: 16px;
  height: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
}
