.add-to-comparison {
  display: block;
  border-radius: 1px;
  width: 16px;
  height: 16px;
  position: relative;
  color: inherit;
}

.add-to-comparison-ico {
  width: 16px;
  height: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
}

