.dynamics {
  border-radius: 9px;
  display: inline-block;
  height: 14px;
  padding: 0 8px;
  color: var(--text-color-default);
  font-size: 1rem;
  line-height: (14 / 10);
}

.dynamics--positive {
  background: var(--accent-text-color-secondary);
}

.dynamics--negative {
  background: var(--accent-text-color-negative);
}
