.dynamics {
  display: block;
  color: var(--text-color-default);
  font-size: 1rem;
  line-height: (12 / 10);

}

.dynamics--positive {
  color: var(--accent-text-color-default);
}

.dynamics--negative {
  color: var(--accent-text-color-negative);
}
