.table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table-thead-th {
  background: var(--table-background-default);
  border: 0;
  border-left: 1px solid var(--table-border-default);
  padding: 12px;
  text-align: left;
  vertical-align: top;
}

.table-tbody-th,
.table-tbody-td {
  background: var(--table-background-secondary);
  border-left: 1px solid var(--table-border-default);
  border-top: 1px solid var(--table-border-default);
  padding: 12px;
  vertical-align: top;
  text-align: left;
}

.table-thead-th-heading {
  color: var(--text-color-default);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;


  a {
    color: inherit;
  }
}

.table-thead-th-sub-heading {
  margin-top: 3px;
  color: var(--text-color-secondary);
  font-size: .8rem;
  letter-spacing: 0.01em;
  line-height: 1;
  text-transform: uppercase;
}

.table-tbody-th-heading {
  color: var(--text-color-default);
  font-size: 1.2rem;
  line-height: (14 / 12);
}

.table-tbody-td-heading {
  color: var(--text-color-default);
  font-size: 1.3rem;
  max-width: 180px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

}

.table-tbody-td--sub-heading {
  color: var(--text-color-default);
  font-size: 1.2rem;
}

.table-tbody-td-sub-sub-heading {
  color: var(--text-color-default);
  font-size: 1.3rem;
  line-height: 1;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  * + & {
    margin-top: 4px;
  }

}

.table-status-ico {
  display: block;
  width: 16px;
  height: 16px;
  color: var(--accent-text-color-default);
}

.table-thead-th-link {
  color: inherit;
}

.table-thead-th-link--sortable {
  padding-right: 12px;
  position: relative;
}

.table-thead-th-link-ico {

  display: inline-block;
  color: inherit;
  font-size: 0;
  line-height: 1;
}

.table-thead-th-link-ico--triangle {
  width: 7px;
  height: 4px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.table-thead-th-link-ico--star {
  width: 14px;
  height: 13px;
  margin-top: 4px;
  position: relative;


}

.table-thead-th-link-ico-svg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.table-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-metric {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.table-link {
  color: inherit;
}

.table-files {
  padding-left: 21px;
  position: relative;
}

.table-files-ico {
  width: 10px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 0;
  color: inherit;
}
