<!--<div style="overflow: hidden; overflow-x: auto; position: relative">-->
<table class="table">
  <thead class="table-thead">
    <tr>
      <th class="table-thead-th">
        <div class="table-thead-th-heading">#</div>
      </th>
      <th
        class="table-thead-th"
        *ngFor="let col of cols | matchesIsHidden: 'isHidden'; index as i"
      >
        <div class="table-thead-th-heading">
          <app-table-col-sorting
            *ngIf="col.sortable; else unsortable"
            [colID]="col.id"
            [sortCol]="sortCol"
            [sortOrder]="sortOrder"
            (onSortChange)="handleSortChange($event)"
          >
            <span [ngSwitch]="col.id">
              <ng-template ngSwitchCase="favorite">
                <span
                  class="table-thead-th-link-ico table-thead-th-link-ico--star"
                  ><app-icon
                    class="table-thead-th-link-ico-svg"
                    type="star"
                  ></app-icon
                ></span>
              </ng-template>
              <ng-template ngSwitchDefault>{{ col.name }}</ng-template>
            </span>
          </app-table-col-sorting>
          <ng-template #unsortable>
            {{ col.name }}
          </ng-template>
        </div>
      </th>
      <!--<th class="table-thead-th">
      <div class="table-thead-th-heading">metric</div>
    </th>
    <th class="table-thead-th">
      <div class="table-thead-th-heading"><a class="">submits</a></div>
    </th>
    <th class="table-thead-th">
      <div class="table-thead-th-heading"><a class="">date</a></div>
      <div class="table-thead-th-sub-heading">of last submit</div>
    </th>
    <th class="table-thead-th">
      <div class="table-thead-th-heading">features</div>
    </th>
    <th class="table-thead-th">
      <div class="table-thead-th-heading">Authors</div>
    </th>
    <th class="table-thead-th">
      <div class="table-thead-th-heading">comments</div>
    </th>

    <th class="table-thead-th">
      <div class="table-thead-th-heading">favorites</div>
    </th>

    <th class="table-thead-th">
      <div class="table-thead-th-heading">TRASH</div>
    </th>
    <th class="table-thead-th">
      <div class="table-thead-th-heading">comment</div>
      <div class="table-thead-th-sub-heading">to task</div>
    </th>
    <th class="table-thead-th">
      <div class="table-thead-th-heading">metric service</div>
    </th>-->
    </tr>
  </thead>
  <tbody class="table-tbody">
    <tr
      *ngFor="let row of rows; index as i"
      class="table-tbody-tr"
      [class]="{
        'table-tbody-tr-selected': selectRowWithID && selectRowWithID === row.id
      }"
    >
      <th class="table-tbody-th">
        <div class="table-tbody-th-heading">{{ i + 1 }}</div>
      </th>
      <td
        class="table-tbody-td"
        [class]="'table-tbody-td--' + col.id"
        *ngFor="let col of cols | matchesIsHidden: 'isHidden'; index as j"
      >
        <div *ngIf="col.type === 'metric'">
          <app-table-metric
            *ngIf="row.metrics[col.id]"
            [metric]="row.metrics[col.id]"
          ></app-table-metric>

          <app-loader *ngIf="!row.metrics[col.id]"></app-loader>
        </div>
        <div [ngSwitch]="col.id">
          <ng-template ngSwitchCase="actions">
            <div class="table-actions">
              <app-add-to-comparison></app-add-to-comparison>
              <app-table-copy-url [id]="row.id"></app-table-copy-url>
              <app-add-to-basket [id]="row.id"></app-add-to-basket>
            </div>
          </ng-template>
          <ng-template ngSwitchCase="favorite">
            <app-favorite [isFavorite]="row[col.id]"></app-favorite>
          </ng-template>
          <ng-template ngSwitchCase="feature_mining_comments">
            <app-table-feature-mining-comments
              [text]="row[col.id]"
            ></app-table-feature-mining-comments>
          </ng-template>
          <ng-template ngSwitchDefault>
            <div class="table-tbody-td-heading" *ngIf="col.type === 'field'">
              {{ row[col.id] }}
            </div>
          </ng-template>
        </div>
        <div *ngIf="col.type === 'date'">
          <div class="table-tbody-td-sub-sub-heading">
            {{ row[col.id] | date: "hh:mm" }}
          </div>
          <div class="table-tbody-td-sub-sub-heading">
            {{ row[col.id] | date: "dd:MM:YYYY" }}
          </div>
        </div>

        <app-table-attachments
          *ngIf="col.type === 'files'"
          [attachments]="row[col.id]"
        ></app-table-attachments>

        <div *ngIf="col.type === 'features'">
          <a class="table-link" (click)="featureHandleClick(row.id)">{{
            row[col.id].count
          }}</a>
        </div>
      </td>
      <!--<th class="table-tbody-th">
      <div class="table-tbody-th-heading">1</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">Lasso</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>-->
    </tr>
    <!--<tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">2</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Eugenia Chibisova</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <app-loader></app-loader>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">1</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">Lasso</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">2</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Eugenia Chibisova</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">1</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">Lasso</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">2</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Eugenia Chibisova</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">1</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">Lasso</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">2</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Eugenia Chibisova</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">1</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">Lasso</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">2</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Eugenia Chibisova</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">1</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">Lasso</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">2</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Eugenia Chibisova</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">1</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">Lasso</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>
  <tr>
    <th class="table-tbody-th">
      <div class="table-tbody-th-heading">2</div>
    </th>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">aero_eng_1_start_fault - ENG 1 START FAULT</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading table&#45;&#45;preline">
        <div>ROC AUC</div>
        <div>MAE</div>
        <div>MAPE</div>
        <div>RMSE...</div>

      </div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">1 233 221</div>
      <app-dynamics [number]="34"></app-dynamics>

    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">11:44</div>
      <div class="table-tbody-td-sub-sub-heading">18.06.2020</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">234</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Eugenia Chibisova</div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading">2</div>
    </td>
    <td class="table-tbody-td">
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-heading"><a href="#">3</a></div>
    </td>
    <td class="table-tbody-td">
      <div class="table-tbody-td-sub-sub-heading">Awesome</div>
    </td>
    <td class="table-tbody-td">
      <span class="table-status-ico"><app-icon [type]="'active'"></app-icon></span>
    </td>
  </tr>-->
  </tbody>
</table>
<!--</div>-->
