<div *ngIf="taskSubmits && taskSubmits.length > 0">
  <app-table
    [colsItems]="taskConfigColumns"
    [rowsItems]="taskSubmits"
    [sortCol]="sortColumn"
    [sortOrder]="sortOrder"
    [selectRowWithID]="submitID"
    (onSortChange)="handleSortChange($event)"
    [searchMatches]="searchMatches"
    [startIndex]="startIndex"
    [component]="'task'"
  ></app-table>

  <app-meta-panel>
    <app-pagination
      class="meta-panel-pagination"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (onPageChange)="pageChanged($event)"
    ></app-pagination>

    <app-row-per-page
      [rows]="rows"
      [rowsDefault]="rowsDefault"
      (onRowsChange)="handleRowsChanged($event)"
      *ngIf="rows"
    ></app-row-per-page>
  </app-meta-panel>
  <app-table-modal></app-table-modal>
  <app-features-info class="submits-features"></app-features-info>
  <app-events-bubble></app-events-bubble>
</div>
<div
  class="compared-submits-empty"
  *ngIf="taskSubmits && taskSubmits.length === 0"
>
  <div class="compared-submits-empty-content">
    <div class="compared-submits-empty-content-ico">
      <app-icon type="big-search"></app-icon>
    </div>
    <div class="compared-submits-empty-content-heading">No submits</div>
    <div class="compared-submits-empty-content-summary">
      Read
      <a class="compared-submits-empty-content-summary-link" href="#"
        >how to push submits to leaderboard</a
      >
    </div>
  </div>
</div>
