.favorite {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 0;
  color: inherit;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.favorite-ico {
  opacity: 0;
  transition: all 0.3s ease;

  .favorite-active & {
    opacity: 1;
  }
}
