.comparison-table-metric {
  &:hover {
    .comparison-table-metric-bubble {
      opacity: 1;
      visibility: visible;
    }
  }
}

.comparison-table-metric-value {
  color: inherit;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.comparison-table-metric-bubble {
  background: var(--background-secondary);
  border-radius: 4px;

  width: 200px;
  padding: 9px 8px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 2px);
  transition: all 0.3s ease;
}
