<div class="table-attachments" *ngIf="attachments && attachments.files">
  <div class="table-attachments-heading">
    <a
      class="table-attachments-all-files"
      download
      [href]="attachments.attachments_download_path"
    >
      <div class="table-attachments-ico">
        <app-icon type="download"></app-icon>
      </div>
    </a>
    <div *ngIf="attachments.notebook">Notebook</div>
  </div>
  <div>
    <div class="table-attachments-summary">
      + {{ attachments.files.length - 1 }}
      {{ attachments.files.length > 2 ? "files" : "file" }}
    </div>
    <div class="table-attachments-sub">
      <div class="table-attachments-sub-in">
        <ul class="table-attachments-sub-list">
          <li
            class="table-attachments-sub-item"
            *ngFor="let file of attachments.files"
          >
            <a
              class="table-attachments-sub-link"
              [href]="file.download_path"
              download
            >
              <span
                class="table-attachments-sub-ico table-attachments-sub-ico--ipynb"
              >
                <app-icon type="ipynb"></app-icon>
              </span>
              <span class="table-attachments-sub-text">{{ file.name }}</span>
              <span class="table-attachments-sub-ico">
                <app-icon type="download"></app-icon>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
