<nav class="main-tabs">
  <ul class="main-tabs-list">
    <li class="main-tabs-item " routerLinkActive="main-tabs-item--active">
      <a class="main-tabs-link" [routerLink]="[routeMain, routeProject, routeTasks, routeTaskId, routeSubmits]">TASKS (2341)</a>
    </li>
    <li class="main-tabs-item" routerLinkActive="main-tabs-item--active">
      <a class="main-tabs-link" href="#">FAVORITE SUBMITS (23)</a>
    </li>
    <li class="main-tabs-item" routerLinkActive="main-tabs-item--active">
      <a class="main-tabs-link" [routerLink]="[routeMain, routeProject, routeTasks, routeTaskId, routeInfo]">INFORMATION</a>
    </li>
  </ul>
</nav>
