<div class="compared-submits">
  <div class="compared-submits-empty" *ngIf="empty">
    <div class="compared-submits-empty-content">
      <div class="compared-submits-empty-content-ico">
        <app-icon type="comparison-no-data"></app-icon>
      </div>
      <div class="compared-submits-empty-content-heading">
        No submits for comparison
      </div>
      <div class="compared-submits-empty-content-summary">
        Use “add to comparison” icon in the submits table to add one
      </div>
    </div>
  </div>
  <div class="compared-submits-content" *ngIf="!empty && cols && rows">
    <app-comparison-table
      [rows]="rows"
      [cols]="cols"
      [baselineID]="baselineID"
    ></app-comparison-table>
    <div class="compared-submits-add-more" *ngIf="addMore">
      <div class="compared-submits-add-more-ico">
        <app-icon type="comparison-add-more"></app-icon>
      </div>
      <div class="compared-submits-add-more-text">
        Add one more submit to see comparison results
      </div>
    </div>

    <app-features-info class="submits-features"></app-features-info>
  </div>
</div>
