.table-features {
}

.table-features-link {
  color: inherit;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.table-features-added {
  color: var(--accent-text-color-positive);

  &:before {
    content: "+";
  }
}

.table-features-deleted {
  color: var(--accent-text-color-negative);

  &:before {
    content: "-";
  }
}
