.deleted-submits {

}

.deleted-submits-none {
  display: flex;
  min-height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  color: var(--background-tertiary);
}

.deleted-submits-none-in {
  width: 430px;
  text-align: center;

}

.deleted-submits-none-heading {
  margin-bottom: 16px;
  font-size: 4.5rem;
  line-height: 40 / 45;
}

.deleted-submits-none-text {
  font-size: 2.9rem;
  line-height: 34 / 29;
}

.deleted-submits-none-ico {
  display: block;
  width: 204px;
  height: 195px;
  margin: 0 auto 26px;
  font-size: 0;
}
