.comparison-table {
  border: 0;
  table-layout: fixed;
  border-spacing: 1px;
  border-collapse: separate;
}

.resize {
  width: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: ew-resize;
}

.comparison-table-th {
  background: var(--table-background-default);
  border: 0;
  padding: 8px;
  text-align: left;
  vertical-align: top;
  font-size: 1.2rem;
  width: 140px;
  height: 74px;
  position: relative;
  text-transform: uppercase;
  /*overflow: hidden;
  resize: horizontal;*/
}

.drag-n-drop {
  &:before {
    content: "";
    cursor: move;
    user-select: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    left: 30px;
    z-index: 11;
  }
}

.comparison-table-td {
  background-color: var(--table-background-secondary);
  width: 252px;
  height: 74px;
  padding: 8px;
  position: relative;
  vertical-align: top;
  text-align: left;
  transition: background-color 0.3s ease;
}

.comparison-table-th--align-right,
.comparison-table-td--align-right {
  text-align: right;
}

.comparison-table-td--baseline {
  background: var(--table-background-quinary);
}

.comparison-table-tr {
  &:first-child {
    .comparison-table-td {
      background: var(--table-background-default);
      padding: 12px 32px;
    }
  }
}

.comparison-table-th-text {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  max-width: 116px;
  text-overflow: ellipsis;
}

.table-tbody-tr {
  &:hover {
    .table-tbody-th,
    .table-tbody-td {
      background: var(--table-background-tertiary);

      &:hover {
        background: var(--table-background-quaternary);
      }
    }
  }
}

.table-tbody-tr--founded {
  .table-tbody-th,
  .table-tbody-td {
    background: var(--table-background-tertiary) !important;
  }

  .table-tbody-td--founded {
    background: var(--table-background-quaternary) !important;
  }
}

.table-tbody-tr--selected {
  .table-tbody-th,
  .table-tbody-td {
    background: var(--table-background-tertiary) !important;
  }
}

.table-thead-th-heading {
  color: var(--text-color-default);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  //position: relative;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //max-width: 180px;

  a {
    color: inherit;
  }
}

.table-thead-th-sub-heading {
  margin-top: 3px;
  color: var(--text-color-secondary);
  font-size: 0.8rem;
  letter-spacing: 0.01em;
  line-height: 1;
  text-transform: uppercase;
}

.table-tbody-th-heading {
  color: var(--text-color-default);
  font-size: 1.2rem;
  line-height: (14 / 12);
}

.table-tbody-td-heading {
  color: var(--text-color-default);
  font-size: 1.3rem;
  max-width: 180px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.table-tbody-td--sub-heading {
  color: var(--text-color-default);
  font-size: 1.2rem;
}

.table-tbody-td-sub-sub-heading {
  color: var(--text-color-default);
  font-size: 1.3rem;
  line-height: 1;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  * + & {
    margin-top: 4px;
  }
}

.table-status-ico {
  display: block;
  width: 16px;
  height: 16px;
  color: var(--accent-text-color-default);
}

.table-thead-th-link {
  color: inherit;
}

.table-thead-th-link-ico {
  display: inline-block;
  color: inherit;
  font-size: 0;
  line-height: 1;
}

.table-thead-th-link-ico--star {
  width: 14px;
  height: 13px;
  margin-top: 4px;
  position: relative;
}

.table-thead-th-link-ico-svg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.table-metric {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.table-link {
  color: inherit;
}

.table-drag-n-drop {
  cursor: move;
  user-select: none;
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 14px;
  left: 30px;
  z-index: 10;

  &:before {
    content: "";
    border-top: 1px solid var(--text-color-default);
    border-bottom: 1px solid var(--text-color-default);
    position: absolute;
    top: 6px;
    left: 5px;
    right: 5px;
    bottom: 6px;
  }

  &:after {
    content: "";
    background: var(--text-color-default);
    height: 1px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 0;
  }
}
