<div class="select" *ngIf="options" (clickOutside)="onClickedOutside($event)" (click)="handleClick()">
  <div class="select-value">{{selectedOption.label}}</div>
  <ul class="select-list" *ngIf="isShow">
    <li class="select-item" *ngFor="let option of options" [class]="{'select-item--active': option.value === selectedOption.value}" (click)="handleChange(option)">
      <a class="select-link">{{option.label}}</a>
    </li>
    <!--<li class="select-item "><a class="select-link ">100</a></li>
    <li class="select-item"><a class="select-link">200</a></li>
    <li class="select-item"><a class="select-link">500</a></li>
    <li class="select-item"><a class="select-link">1000</a></li>-->
  </ul>
  <div class="select-ico"><app-icon type="triangle"></app-icon></div>
</div>
