
.logo {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 27px;

  z-index: 1;
}

.logo-link {
  display: block;
  width: inherit;
  height: inherit;
  color: #BDC1C6;
}

.logo-ico {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
