@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "scss/vars";



html, body {
  background: var(--background-default);
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  color: var(--text-color-default);
  line-height: var(--line-height-default);
  word-wrap: break-word;
}

a, button, label {
  cursor: pointer;
}

a {
  color: var(--accent-text-color-link);
}
