@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');
@import "./scss/vars";



html, body {
  background: var(--background-default);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  color: var(--font-color-default);
  line-height: var(--line-height-default);
}

a, button {
  cursor: pointer;
}

a {
  color: var(--font-color-quaternary);
}
