@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "scss/vars";

html,
body {
  background: var(--background-default);
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  color: var(--text-color-default);
  line-height: var(--line-height-default);
  word-wrap: break-word;
}

a,
button,
label {
  cursor: pointer;
}

a {
  color: var(--accent-text-color-link);
}

* {
  box-sizing: border-box;
}

.block-with-line-numbers {
  counter-reset: numbers;

  span {
    display: block;
    min-height: calc(var(--line-height-default) * 10px);
    position: relative;
    counter-increment: numbers;

    &:before {
      content: counter(numbers);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 32px;
      height: calc(var(--line-height-default) * 13px);
      color: var(--text-color-tertiary);
      font-size: 1rem;
      position: absolute;
      right: 100%;
      top: 0;
      transform: translate(-8px, 0);
    }
  }
}

.draggable {
}
.placeholder {
  background: var(--background-default);
}
.clone-list {
  display: flex;
  z-index: 98;
}
.clone-table {
  background: var(--background-default);
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1px;
}
.clone-table th,
.clone-table td {
}
.dragging {
  z-index: 99;
}
