.remove-from-comparison {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: 0;
}

.remove-from-comparison-button {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  color: inherit;
  justify-content: center;
}

.remove-from-comparison-button-ico {
  display: block;
  width: 13px;
  height: 6px;
  font-size: 0;
  color: inherit;
}
