<div class="submits" *ngIf="taskSubmits">
  <app-table
    [colsItems]="taskConfigColumns"
    [rowsItems]="taskSubmits"
    [selectRowWithID]="routeSubmitID"
  ></app-table>

  <app-meta-panel>
    <app-pagination
      class="meta-panel-pagination"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (onPageChange)="pageChanged($event)"
    ></app-pagination>

    <app-row-per-page
      [rows]="rows"
      [rowsDefault]="rowsDefault"
      *ngIf="rows"
    ></app-row-per-page>
  </app-meta-panel>
  <app-table-modal></app-table-modal>
  <app-features-info class="submits-features"></app-features-info>
</div>
